VITE_FIREBASE_API_KEY=AIzaSy...your real key here...
VITE_FIREBASE_AUTH_DOMAIN=materp-fad7f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=materp-fad7f
VITE_FIREBASE_STORAGE_BUCKET=materp-fad7f.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=261208029337
VITE_FIREBASE_APP_ID=1:261208029337:web:...your app id...
